.bg {
   background-image: url("../img/bg1.png");
   margin: auto;
   width: 1024px;
   height: 1024px;
   padding-top: 100px;
   background-repeat: no-repeat;
   background-size:  cover;
}


section {
    width:  538px;
    margin: auto;
    background:  #fff;
    box-shadow: 15px 15px 15px 0px rgba(0,0,0,0.3);
}

.avatar {
    width:  50%;
    padding-top: 26px;
    padding-left: 20px;
    padding-bottom: 22px;
}

.avata img {
    float:  left;
}

.avatar h3 {}

.avatar img {
    float:  left;
    margin: 17px 13px 17px 0px;
}

.top {
    display: flex;
}

.top button {
    width: 122px;
    height: 38px;
    border: 3px solid #42b2fc;
    border-radius:  3px;
    background:  #fff;
    color:  #42b2fc;
    margin-top: 36px;
    margin-left: 105px;
}

.top > img {
    width: 8px;
    height: 32px;
    margin-top: 38px;
    margin-right: 24px;
    margin-left: 24px;
}

.avatar > h3 {margin-top: 19px;font-size:  15px;margin-bottom: 2px;}

.avatar p {
    font-size: 12px;
    color: #adadad;
    margin: 0px;
    padding: 0px;
}

.container {
    background: #dfdede;
    display:  flex;
    justify-content:  center;
}

.container img {
    margin-top: 180px;
    margin-bottom: 190px;
    width:  auto;
}

.top-bottom img {margin-top: 40px;margin-bottom: 28px;margin-left: 12px;}

.top-bottom img:last-child {
    float: right;
    margin-right: 18px;
}

.top-bottom img:first-child {
    margin-left: 25px;
}

.body-bottom img {
    margin-left: 30px;
    margin-right:  7px;
}

.body-bottom span {
    font-weight:  bold;
}

.footer-bottom p {
    display:  inline-block;
    margin-left: 32px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.footer-bottom p:first-child {
    font-weight:  bold;
}

.footer-bottom p:last-child {
    color: #356bb4;
}

footer {
    text-align:  center;
    margin-top: 62px;
    font-weight:  bold;
    color:  #fff;
    font-size: 24px;
}