* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.bg {
   background-image: url("../img/bg1.png");
   margin: auto;
   width: 1024px;
   height: 1024px;
   padding-top: 85px;
   background-repeat: no-repeat;
   background-size:  cover;
}


section {
    width:  538px;
    margin: auto;
    background:  #fff;
    box-shadow: 15px 15px 15px 0px rgba(0,0,0,0.3);
}

.top {overflow:  auto;padding: 15px;}

.avatar > h3 {margin-top: 19px;font-size:  15px;margin-bottom: 2px;}

.avatar p {
    font-size: 12px;
    color: #adadad;
    margin: 0px;
    padding: 0px;
}

.container {
    background: #dfdede;
    display:  flex;
    justify-content:  center;
}

.container img {
    margin-top: 180px;
    margin-bottom: 190px;
    width:  auto;
}

.body-bottom span {
    font-weight:  bold;
}

.footer-bottom p {
    display:  inline-block;
}

.footer-bottom p:first-child {
    font-weight:  bold;
}

.footer-bottom p:last-child {
    color: #356bb4;
}

footer {
    text-align:  center;
    font-weight:  bold;
    color:  #fff;
    font-size: 24px;
    padding-top: 53px;
}

.avatar {
    width:  50px;
    height:  50px;
    float: left;
}

.avatar > img {
    width:  100%;
    border-radius:  50%;
}

.top h3 {
    margin-top:  5px;
}

.info {
    margin-left: 10px;
    float:  left;
}

.btn {
    float: right;
    position: relative;
}

.btn button {
    border: 3px solid #42b2fc;
    border-radius:  3px;
    background:  #fff;
    padding:  7px 12px;
    color:  #42b2fc;
    margin-right: 28px;
}

.btn > img {display: inline-block;position: relative;top: 10px;right: 10px;}

.info > p {
    color:  #999;
}

.top-bottom {padding-bottom:  25px;}

.top-bottom img {
    margin-right: 16px;
}

.top-bottom img:last-child {
    float: right;
    margin-right: 0px;
}

.body-bottom {padding-bottom: 20px;}

.footer-bottom {
}

.body-bottom > img {
    margin-right:  5px;
}

.bottom {
    padding: 25px 20px 40px 25px;
}